<div class="main-div">
    <mat-card style="width:300px; box-shadow: 7px 5px 6px 5px; opacity: 0.8;">
        <div fxLayout=" row " fxLayoutAlign="center " style="font-size:100px;margin-bottom:30px ">
            <mat-card-title>
                <span style="color:rgb(255, 123, 0); ">F</span>
                <span style="color:rgb(8, 193, 250); ">undoo</span>
                <span style="color:rgb(255, 123, 0); ">N</span>
                <span style="color:rgb(8, 193, 250); ">otes</span>
                <br>
                <br>
                <span style="color:rgb(8, 193, 250); ">Reset Paassword</span>
            </mat-card-title>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordForm.valid && onResetPassword()" noval>

                <div>
                    <mat-form-field style="margin-bottom: -1.25em; ">
                        <input type="email " formControlName="email" [(ngModel)]=" user.email " placeholder="Enter email " autocomplete="off " required>
                    </mat-form-field>
                    <span style="font-size: 15px;margin-top: 10px; ">
                    <mat-error *ngIf="f.email.touched && f.email.errors " class="invalid-feedback ">
                        <mat-error *ngIf="f.email.errors.required ">
                            Email is required</mat-error>
                        <mat-error *ngIf="f.email.errors.pattern ">
                            Please Enter valid Email</mat-error>
                    </mat-error>
                </span>
                </div>
                <div>
                    <mat-form-field style="margin-bottom: -1.25em; ">
                        <input id="newPassword " matInput formControlName="newPassword" [(ngModel)]=" user.newPassword " placeholder="Enter newPassword " [type]="hide ? 'newPassword': 'text' " autocomplete="off " />


                    </mat-form-field>
                    <span style="font-size: 15px;margin-top: 10px; ">
                    <mat-error *ngIf="f.newPassword.touched && f.newPassword.errors " class="invalid-feedback ">
                        <mat-error *ngIf="f.newPassword.errors.required ">
                            You must set Password</mat-error>
                        <mat-error *ngIf="f.newPassword.errors && !f.newPassword.errors.required ">
                            Password must be 6 character long</mat-error>
                    </mat-error>
                </span>
                </div>
                <div>
                    <mat-form-field style="margin-bottom: -1.25em; ">
                        <input id="confirmPassword " matInput formControlName="confirmPassword" [(ngModel)]=" user.confirmPassword " placeholder=" confirmPassword " [type]="hide ? 'confirmPassword': 'text' " autocomplete="off " />


                    </mat-form-field>
                    <span style="font-size: 15px;margin-top: 10px; ">
                    <mat-error *ngIf="f.confirmPassword.touched && f.confirmPassword.errors " class="invalid-feedback ">
                        <mat-error *ngIf="f.confirmPassword.errors.required ">
                            You must set Password</mat-error>
                        <mat-error *ngIf="f.confirmPassword.errors && !f.confirmPassword.errors.required ">
                            Password must be 6 character long</mat-error>
                    </mat-error>
                </span>

                    <button style="font-size: 20px;font-weight: bold;color: blue; " [disabled]="!resetPasswordForm.valid " mat-button type="submit " class="divider ">reset password </button>
                </div>
            </form>
        </div>
    </mat-card>
</div>