<div class="main-div">
    <mat-card style="width: 40em;height: 70vh;box-shadow: rgb(6, 201, 250);">
        <div fxLayout="row" fxLayoutAlign="center" style="font-size:50px;margin-bottom:45px">
            <span style="color:rgb(248, 123, 6);">M</span>
            <span style="color:rgb(8, 193, 250);">y</span>
            <span style="color:rgb(248, 123, 6);">F</span>
            <span style="color:rgb(8, 193, 250);">undoo</span>
            <span style="color:rgb(248, 123, 6);">N</span>
            <span style="color:rgb(8, 193, 250);">otes</span>
        </div>
        <div class="form-field">
            <mat-form-field appearance="outline">

                <mat-label>name</mat-label>
                <input matInput placeholder=" enter your name here " formControlName="name">

            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>email</mat-label>
                <input matInput placeholder="enter your email here" formControlName="email">
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>mobile</mat-label>
                <input matInput placeholder="enter your mobile number here" formControlName="mobile">

            </mat-form-field>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>password</mat-label>
                <input matInput placeholder="enter your password here" formControlName="password">

            </mat-form-field>
            <br>
        </div>
    </mat-card>
</div>