<div class="main-div">
    <mat-card style="width: 18em;height: 10em;box-shadow:5px 5px 3px 3px;background: rgb(5, 126, 134);margin-top: -15em;">

        <div fxLayout=" row " fxLayoutAlign="center " style="font-size:50px;margin-bottom:45px ">
            <mat-card-title>

                <span style="color:rgb(253, 122, 0); ">F</span>
                <span style="color:rgb(8, 193, 250); ">undoo</span>
                <span style="color:rgb(255, 123, 0); ">N</span>
                <span style="color:rgb(8, 193, 250); ">otes</span>
            </mat-card-title>
            <mat-card-content>
                <div class="form-field ">


                    <mat-form-field appearance="fill ">
                        <mat-label>name </mat-label>
                        <input type="text " matInput placeholder="ex: Lakshmi prasad " formControlName="name " />
                    </mat-form-field>
                </div>


                <div class="form-field ">
                    <mat-form-field appearance="outline ">

                        <mat-label>email </mat-label>
                        <input type="text " matInput placeholder="ex:lp@gmail.com " formControlName="email ">
                    </mat-form-field>

                </div>

                <div class="form-field ">
                    <mat-form-field appearance="outline ">
                        <mat-label>phoneno </mat-label>
                        <input type="text " matInput placeholder="ex:9625140251 " formControlName="mobile ">

                    </mat-form-field>

                </div>


                <div class="form-field ">
                    <mat-form-field>
                        <mat-label>password</mat-label>
                        <input type="password " matInput placeholder="your password " formControlName="password ">

                    </mat-form-field>
                </div>

                <div class="button ">
                    <button mat-raised-button style='margin-right:10px;margin-top: 15px; '>Register</button>

                    <a href=" http://localhost:4200/login "><button mat-raised-button (click)="onSubmit(registerForm)" style='margin-right:-50px;margin-top: 15px; '>forgotPassword</button></a>
                </div>
            </mat-card-content>
        </div>

    </mat-card>
</div>