.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    font-style: italic;
}