<div class="main-div">
    <mat-card style="width:300px; box-shadow: 7px 5px 6px 5px; opacity: 0.8;">
        <div fxLayout=" row " fxLayoutAlign="center " style="font-size:100px;margin-bottom:30px ">
            <mat-card-title>
                <span style="color:rgb(255, 123, 0); ">F</span>
                <span style="color:rgb(8, 193, 250); ">undoo</span>
                <span style="color:rgb(255, 123, 0); ">N</span>
                <span style="color:rgb(8, 193, 250); ">otes</span>
                <br>
                <br>
                <span style="color:rgb(8, 193, 250); ">Register</span>

            </mat-card-title>
            <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" noval>
                <div>
                    <mat-form-field style="margin-bottom: -1.25em;">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">home
                            <input id="name" matInput formControlName="name" [(ngModel)]=" user.name " placeholder="enter Name " autocomplete="off ">
                        </mat-icon>
                    </mat-form-field>
                    <span style="font-size: 15px;margin-top: 10px; ">
                    <mat-error *ngIf="f.name.touched && f.name.errors " class="invalid-feedback ">
                        <mat-error *ngIf="f.name.errors.required ">Name is required</mat-error>
                    </mat-error>
                </span>
                </div>
                <div>
                    <mat-form-field style="margin-bottom: -1.25em; ">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">email
                            <input type="email " formControlName="email" [(ngModel)]=" user.email " placeholder="Enter email " autocomplete="off " required>
                        </mat-icon>
                    </mat-form-field>
                    <span style="font-size: 15px;margin-top: 10px; ">
                    <mat-error *ngIf="f.email.touched && f.email.errors " class="invalid-feedback ">
                        <mat-error *ngIf="f.email.errors.required ">
                            Email is required</mat-error>
                        <mat-error *ngIf="f.email.errors.pattern ">
                            Please Enter valid Email</mat-error>
                    </mat-error>
                </span>
                </div>


                <div>
                    <mat-form-field style="margin-bottom: -1.25em; ">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">lock
                            <input id="password " matInput formControlName="password" [(ngModel)]=" user.password " placeholder="Enter password " [type]="hide ? 'password': 'text' " autocomplete="off " />
                            <mat-icon matSuffix (click)="hide=!hide ">
                                {{hide? 'visibility' : 'visibility_off'}}
                            </mat-icon>
                        </mat-icon>

                    </mat-form-field>
                    <span style="font-size: 15px;margin-top: 10px; ">
                    <mat-error *ngIf="f.password.touched && f.password.errors " class="invalid-feedback ">
                        <mat-error *ngIf="f.password.errors.required ">
                            You must set Password</mat-error>
                        <mat-error *ngIf="f.password.errors && !f.password.errors.required ">
                            Password must be 6 character long</mat-error>
                    </mat-error>
                </span>
                </div>
                <div>
                    <mat-form-field style="margin-bottom: -1.25em; ">
                        <mat-icon aria-hidden="false" aria-label="Example home icon">phone


                            <input id="mobileNumber " matInput formControlName="mobileNumber" [(ngModel)]=" user.mobileNumber " placeholder="Enter Mobile No " autocomplete="off " required>
                        </mat-icon>
                    </mat-form-field>
                    <span style="font-size: 15px;margin-top: 10px; ">
                    <mat-error *ngIf="f.mobileNumber.touched && f.mobileNumber.errors " class="invalid-feedback ">
                        <mat-error *ngIf="f.mobileNumber.errors.required ">
                            *phone number is required</mat-error>
                        <mat-error *ngIf="!f.mobileNumber.errors.required && f.mobileNumber.errors ">
                            *phone must be 10 digit</mat-error>
                    </mat-error>
                </span>
                </div>
                <mat-card-actions align="end ">
                    <button style="font-size: 20px;font-weight: bold;color: rgb(10, 10, 10); " [disabled]="!registerForm.valid " mat-button type="submit " class="divider ">Register</button>

                    <a href="http://localhost:4200/login " style="align-content:space-around; padding-bottom: 10px; margin-bottom: 20px; font-size: 20px; ">Already
                    Register?</a>
                </mat-card-actions>
            </form>
        </div>

    </mat-card>
</div>