<div class="main" fxLayout="row" fxLayoutAlign="space-between center">
  
    <button mat-button class="remindbutton">
          <mat-icon  matTooltip="Add Reminder" >notifications</mat-icon>
      
      </button>
      <button mat-icon-button>
        <span class="material-icons">
            person_add
            </span>
    </button>

<button mat-icon-button>
    <span class="material-icons">
        color_lens
        </span>        
</button>
<button mat-icon-button>
    <span class="material-icons">
        insert_photo
        </span>
</button>
