<div class="main" fxLayout="row" fxLayoutAlign="space-between center">
  
    <button mat-icon-button [matMenuTriggerFor]="menu3">
        <mat-icon class=color> add_alert</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Add Collobrate" (click)=collabrator()>
        <span class="material-icons">
            person_add
            </span>
    </button>
<div [matMenuTriggerFor]="colorlist" matTooltip="Add Color">
<button mat-icon-button >
    <span class="material-icons">
        color_lens
        </span>        
</button>
</div>
<mat-menu #colorlist="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent>
        <div>
            <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 1px" *ngFor="let colors of arrayOfColors">
                <div *ngFor="let color of colors">
                    <button [ngStyle]="{ 'background-color': color.color }"(click)="setColor((color.color)) "
                        matTooltip="{{ color.name }}" mat-mini-fab></button>

                </div>
            </div>
        </div>
    </ng-template>
</mat-menu>
<button mat-icon-button>
    <span class="material-icons">
        insert_photo
        </span>
</button>

<div>
<button mat-icon-button (click)='archieveNote()' >
    <span class="material-icons">
        archive
        </span>
</button>
</div>

<div >
    <a><img mat-icon-button [matMenuTriggerFor]="menu" style="height: 1.5em; width: 2em;" src="assets/icons/more.svg" 
            matTooltip="More"></a>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onClickDelete()">Delete Note</button>
        
        <button mat-menu-item (click)="openDialog(note)">Add Label</button>
        </mat-menu>
        </div>
        <div>
            <mat-menu #menu3="matMenu">
              <span style="margin-left: 10px">Reminder:</span>
              <br>
              <button  mat-menu-item >Later Today</button>

              <button  mat-menu-item >Tomorrow</button>

              <button  mat-menu-item >Next Week</button>

           
            <label class="example-input-wrapper">
              <input placeholder="choose your date" [(ngModel)]="note.reminder" [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
              <owl-date-time #dt></owl-date-time>
              <button mat-icon-button color="primary" (click)="datePicker()">Save</button>
            </label>
      
            </mat-menu>
          </div>
</div>
