<div class="main-div">
    <mat-card style="width:300px; box-shadow: 4px 5px 6px 7px; opacity: 0.8;">
        <div fxLayout=" row " fxLayoutAlign="center " style="font-size:90px;margin-bottom:30px ">
            <mat-card-title>
                <span style="color:rgb(255, 123, 0); ">F</span>
                <span style="color:rgb(8, 193, 250); ">undoo</span>
                <span style="color:rgb(255, 123, 0); ">N</span>
                <span style="color:rgb(8, 193, 250); ">otes</span>
                <br>
                <br>
                <span style="color:rgb(8, 193, 250); ">Forgot Password</span>
            </mat-card-title>
        </div>


        <div>
            <mat-form-field style="margin-bottom: -1.25em; ">
                <input type="email " formControlName="email" [(ngModel)]=" user.email " placeholder="Enter email " autocomplete="off " required>
            </mat-form-field>
            <span style="font-size: 15px;margin-top: 10px; ">
            <mat-error *ngIf="f.email.touched && f.email.errors " class="invalid-feedback ">
                <mat-error *ngIf="f.email.errors.required ">
                    Email is required</mat-error>
                <mat-error *ngIf="f.email.errors.pattern ">
                    Please Enter valid Email</mat-error>
            </mat-error>
        </span>
        </div>






        <mat-card-actions align="end ">
            <button style="font-size: 20px;font-weight: bold;color: blue; " [disabled]="!forgotPasswordForm.valid " (click)="onforgotPasswordSubmit() " mat-button type="submit " class="divider ">send Link</button>
        </mat-card-actions>

    </mat-card>
</div>