<mat-toolbar class="docs-navbar-header">
    <mat-toolbar-row>

        <div class="Main">
            <div class="sideNavIcon">
                <div>

                    <mat-icon (click)="drawer.toggle()">menu</mat-icon>

                </div>
                <div>
                    <img src="assets/icons/lp.jpg" height="40px" width="40px" style="margin-left: 1em;">
                </div>

                <div>Fundoo</div>

            </div>

            <div class="searchWhole">


                <div class="searchbar">
                    <div class="searchIcon">
                        <mat-icon matSuffix>search</mat-icon>
                    </div>
                    <div>
                        <input class="input" matInput type="searchbar" placeholder="  Search" style="outline:none; color: darkgray;">
                    </div>
                </div>

                <div class="appBarLastIcon">
                    <div class="refresh">
                        <button id="refreshbutton" mat-icon-button>
                <mat-icon>refresh</mat-icon>
              </button>
                        <button mat-icon-button>
                <mat-icon>reorder</mat-icon>
              </button>
                    </div>


                    <button mat-icon-button>
              <mat-icon>
                account_circle
              </mat-icon>
            </button>

                </div>
            </div>
        </div>
    </mat-toolbar-row>

</mat-toolbar>

<!-- side navigation bar -->


<div class="sidenavdiv" style="background-color: cornsilk;">
    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <div class="maindiv">


                <div class="notesdiv">

                    <button style="width: 180px;border-radius: 15px 10px 10px 10px;background-color: rgb(255, 255, 255);outline: none;" class="notes" (click)="notes()">
            <img src="assets/icons/lp1.png "style="width:15px;height:15px;">
              Notes
            </button><br>
                </div>
            </div>
        </mat-drawer>
    </mat-drawer-container>
</div>